<!DOCTYPE htext>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- <link rel="stylesheet" href="css/intro.css"> -->
    <style>
        body{
    color: white!important;
    background-color: rgb(0, 48, 110)!important;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/link') %>
    <div class="container container-fluid ps-md-0">
        <div class="row content mt-5">
            <h1 class="login-heading mb-4">Welcome Username</h1>
        </div>
      </div>
      
</body>
</html>

